html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  font-family: var(--primary-font);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: linear-gradient(140deg, #bcffed 20%, #00ffbb); */
  background-color: #f3f3f3;
}

.header {
  /* background-color: white; */
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 9rem;

    .nav_logo:link,
    .nav_logo:active {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 4.5rem;
      }
    }

    .links {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      gap: 4rem;
      li {
        color: #555;
        cursor: pointer;
        .btn {
          font-size: 1.7rem;
        }
      }
    }
  }
}

/* 
-FONTSIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px):
/ 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--Media brekponits--

0-600px      phone
600px-900px  tablet portrait
900px-1200px tablet landscape
1200px + X   larger screen

*/
